
:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

::-webkit-scrollbar {
  width: 2px;
  height: 5.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}